.app-container {
    .header {
        .navbar {
            background-color: rgba(0, 0, 0, 0);
            padding: 20px 0;

            .container {
                .nav-link {
                    &.active {
                        color: #00bfff;
                    }
                }

                .btn {
                    border: 1px solid;
                    padding: 0 20px;
                    height: 40px;
                }

                .signin {
                    margin-right: 20px;

                    &:hover {
                        background-color: aliceblue;
                    }
                }

                .login {
                    background-color: #303030;
                    color: white;

                    &:hover {
                        background-color: #535353;
                    }
                }
            }

        }
    }

    .main-content {
        .app-content {
            .homepage-content {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 50%;
                padding: 100px;
                position: relative;

                .title-content {
                    font-size: 50px;
                    font-weight: 600;
                }

                .detail-content {
                    font-size: 22px;
                    line-height: 1.2;
                }

                .btn-getstart {
                    background-color: rgb(38, 38, 39);
                    color: white;
                    padding: 12px 24px;
                    line-height: 1.5;
                    font-weight: 500;
                    font-size: 16px;
                    border-radius: 5px;
                }
            }
        }
    }
}

video {
    z-index: -1;
    position: fixed;
    bottom: -20px;
    left: 0;
    width: 100vw;
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}